/******************************************
                Général
******************************************/
html, body {
    margin: 0;
    padding: 0;
    background: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 600%;
    color: white;
    text-shadow: 5px 0 0 darkslategrey, 5px 5px 0 darkslategrey, 0 5px 0 darkslategrey, -5px 5px 0 darkslategrey, -5px 0 0 darkslategrey, -5px -5px 0 darkslategrey, 0 -5px 0 darkslategrey, 5px -5px 0 darkslategrey;
}

h3 {
    margin: 40px 0 0;
}


/******************************************
                App.vue
******************************************/
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
}
  
nav.topnav {
    background-color: darkslategrey;
    margin-top: -4.7%;
    margin-bottom: 4%;
    padding: 2%;
    text-align: left;
    color: white;
}
  
nav.topnav a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

nav.topnav #logo_app {
    float: right;
    margin-top: -1%;
    margin-right: 50%;
    transform: translate(50%);
}


/******************************************
                Accueil.vue
******************************************/
#accueil h2 {
    color: white;
}

.moviePreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blocMoviePre {
    cursor: pointer;
}


/******************************************
                Search.vue
******************************************/
#search h3 {
    color: white;
}

#search input {
    margin-bottom: 2%;
}


/******************************************
                Movie.vue
******************************************/
#infos_movie {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 50px 5px 5px 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#infos_movie #details_movie {
    width: 60%;
    margin-left: -5%;
}

#infos_movie #title_movie {
    text-align: center;
    margin-bottom: 50px;
}

#infos_movie #title_movie h2 {
    margin-bottom: -0.5%;
    color: darkslategrey;
    letter-spacing: 2px;
}

#infos_movie ul {
    list-style-type: none;
    text-align: left;
}

#infos_movie li {
    margin-bottom: 20px;
}

#infos_movie #poster_movie #none-image {
    border: darkslategrey 1px solid;
    width: 200px;
    height: 300px;
}


/******************************************
                MoviePre.vue
******************************************/
#moviePre {
    display: flex;
    background-color: white;
    border-radius: 50px 5px 5px 5px;
    width: 500px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5%;
}

#moviePre #details_preMovie h5 {
    color: darkslategrey;
    letter-spacing: 1px;
}


/******************************************
                Comments.vue
******************************************/
#comments {
    background-color: whitesmoke;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#comments #msg_alert {
    color: red;
    font-style: italic;
}